.DS_Store
/build
/.classpath
/.settings
/.project
/eclipse-bin/
/.idea
/annotation-generated-src
/annotation-generated-tst
/SAMToolkit.devenv
/configurations/stack-exec
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
